.data{
  float: left;
  width: 50%;
  height: 100vh;
  #background-color: aqua;
  position: relative;
}

.network{
  #float: right;
  #width: 50%;
  #height: 100vh;
  background-color: red;
  #position: relative;
  #border: brown;
}

.dataContiner{
  #background-color: brown;
  margin-bottom: 10px;
}
